<!-- app/views/shared/_breadcrumbs.html.erb -->
<nav class="text-sm text-gray-600 my-4" aria-label="Breadcrumb">
  <ol class="list-none p-0 inline-flex">
    <li class="flex items-center">
      <a href="<%= root_path %>" class="text-blue-600 hover:text-blue-800">Home</a>
      <span class="mx-2">/</span>
    </li>
    <% if @product.present? %>
      <li class="flex items-center">
        <a href="<%= category_path(@product.category) %>" class="text-blue-600 hover:text-blue-800"><%= @product.category.name %></a>
        <span class="mx-2">/</span>
      </li>
      <li class="flex items-center">
        <span><%= @product.name %></span>
      </li>
    <% elsif @category.present? %>
      <li class="flex items-center">
        <span><%= @category.name %></span>
      </li>
    <% end %>
  </ol>
</nav>
