<!-- app/views/orders/show.html.erb -->
<h1>Order Details</h1>

<h3 class="text-xl font-semibold mb-2">Shipping Address</h3>
<p><%= @order.address.line1 %>, <%= @order.address.line2 %></p>
<p><%= @order.address.city %>, <%= @order.address.state %>, <%= @order.address.country %> - <%= @order.address.zipcode %></p>

<h3 class="text-xl font-semibold mb-2">Order Items</h3>
<table class="min-w-full bg-white">
  <thead>
    <tr>
      <th class="px-4 py-2">Product</th>
      <th class="px-4 py-2">Quantity</th>
      <th class="px-4 py-2">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td class="border px-4 py-2"><%= item.product.name %></td>
        <td class="border px-4 py-2"><%= item.quantity %></td>
        <td class="border px-4 py-2">$<%= '%.2f' % (item.price * item.quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="text-xl font-semibold mb-2">Invoice</h3>
<p>Subtotal: $<%= '%.2f' % @taxes[:subtotal] %></p>
<p>GST: $<%= '%.2f' % @taxes[:gst] %></p>
<p>PST: $<%= '%.2f' % @taxes[:pst] %></p>
<p>HST: $<%= '%.2f' % @taxes[:hst] %></p>
<p>QST: $<%= '%.2f' % @taxes[:qst] %></p>
<p>Total Taxes: $<%= '%.2f' % @taxes[:total_taxes] %></p>
<p>Total Amount: $<%= '%.2f' % @taxes[:total_amount] %></p>

<h3 class="text-xl font-semibold mb-2">Total: $<%= '%.2f' % @order.total_amount %></h3>
