<!-- app/views/addresses/new.html.erb -->
<div class="max-w-md mx-auto bg-white p-8 border border-gray-300 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">Enter Your Address</h2>
  <%= form_with model: @address, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :line1, "Street Address" %>
      <%= f.text_field :line1, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :line2, "Apartment, Suite, etc." %>
      <%= f.text_field :line2, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :state, "Province/State" %>
      <%= f.text_field :state, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :zipcode, "Postal Code" %>
      <%= f.text_field :zipcode, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :province_id, "Province" %>
      <%= f.collection_select :province_id, Province.all, :id, :name, prompt: "Select Province", class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mt-6">
      <%= f.submit "Save Address", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700" %>
    </div>
  <% end %>
</div>
