<div id="<%= dom_id feedback %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= feedback.message %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= link_to feedback.image.filename, feedback.image if feedback.image.attached? %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this feedback", feedback, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this feedback", edit_feedback_path(feedback), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
