<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Your E-commerce Store</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-white font-bold text-xl">EchoTreasures</a>
    <div class="flex items-center space-x-4">
      <%= form_tag(products_path, method: :get, class: "flex items-center space-x-2") do %>
        <%= select_tag(:category, options_for_select(Category.all.map { |c| [c.name, c.id] }.unshift(["All Categories", ""]), params[:category]), class: "form-select text-sm py-2 px-4 rounded-md") %>
        <%= text_field_tag(:search, params[:search], placeholder: "Search products...", class: "form-input border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-500") %>
        <%= submit_tag("Search", class: "btn bg-white text-blue-500 font-semibold py-2 px-4 rounded-md hover:bg-gray-100") %>
      <% end %>
    </div>
    <div class="flex space-x-4">
      <a href="<%= root_path %>" class="text-white hover:text-gray-300">Home</a>
      <a href="/about" class="text-white hover:text-gray-300">About</a>
      <a href="/contact" class="text-white hover:text-gray-300">Contact</a>
      <%= link_to 'Cart', cart_path, class: "text-white hover:text-gray-300" %>
      <%= link_to 'Orders', orders_path, class: "text-white hover:text-gray-300" %>
      <% if user_signed_in? %>
        <span class="text-white">Hi, <%= current_user.username %></span>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "text-white hover:text-gray-300" %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: "text-white hover:text-gray-300" %>
        <%= link_to 'Sign in', new_user_session_path, class: "text-white hover:text-gray-300" %>
      <% end %>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="container mx-auto py-8">
  <%= yield %>
</div>

<!-- Include Stripe JS library -->
<script src="https://js.stripe.com/v3/"></script>
<%= javascript_pack_tag 'application' %>
</body>
</html>
